@font-face {
  font-family: "iconfont"; /* Project id 3836864 */
  src: url('iconfont.woff2?t=1739254235206') format('woff2'),
       url('iconfont.woff?t=1739254235206') format('woff'),
       url('iconfont.ttf?t=1739254235206') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-webhook:before {
  content: "\e615";
}

.icon-Stream:before {
  content: "\e809";
}

.icon-x:before {
  content: "\e614";
}

.icon-twitter:before {
  content: "\e736";
}

.icon-question:before {
  content: "\e6bd";
}

.icon-youtube:before {
  content: "\e8e2";
}

.icon-discord:before {
  content: "\ebf8";
}

.icon-github:before {
  content: "\ec01";
}

.icon-linkedin:before {
  content: "\e611";
}

.icon-authentication:before {
  content: "\e7a2";
}

.icon-configuration:before {
  content: "\e7a3";
}

.icon-diagnosis:before {
  content: "\e7a4";
}

.icon-connections:before {
  content: "\e7a5";
}

.icon-extensions:before {
  content: "\e7a6";
}

.icon-integration:before {
  content: "\e7a7";
}

.icon-monitoring:before {
  content: "\e7a8";
}

.icon-system:before {
  content: "\e7a9";
}

.icon-keep-message:before {
  content: "\e7aa";
}

.icon-subscriptions:before {
  content: "\e7ab";
}

.icon-fold:before {
  content: "\e748";
}

