[data-theme='dark'] {
  /* Background */
  --color-bg-primary: #1b2028;
  --color-bg-split: #232933;
  --color-bg-main: #f9fafb;
  --color-bg-popper: #fff;
  /* Text */
  --color-text-primary: #fff;
  --color-text-secondary: #808895;
  --color-title-primary: #fff;
  /* Border */
  --color-border-primary: #d0d4dc;
  --color-border-menu: #e7e6ef;
  --color-border-table: #eeedf6;
  /* Colors */
  --color-primary: #00b173;
  --color-hover: #e6fbf4;
  --color-stream: #5d4eff;
}
