[data-theme='dark'] {
  /* Background */
  --color-bg-primary: #1b2028;
  --color-bg-split: #1f252f;
  --color-bg-main: #17181b;
  --color-bg-menu: #1b2028;
  --color-bg-popper: #fff;
  --color-bg-trans: #1b2028e6;
  --color-bg-lighter: #232933;
  --color-bg-mdcode: #ffffff14;
  --color-bg-details: #1b2028ed;
  /* Text */
  --color-text-primary: #fff;
  --color-text-secondary: #d2d3d5;
  --color-text-placeholder: #787c82;
  --color-text-popper: #4b4e5c;
  --color-title-primary: #fff;
  --color-text-footer: #96999c;
  --color-text-mdcode: #f76565;
  --color-text-progress: #ffffff;
  /* Border */
  --color-border-primary: #41454c;
  --color-border-card: #2d323a;
  --color-border-normal: #2d323a;
  /* Colors */
  --color-primary: #00b173;
  --color-hover: #153c37;
  --color-stream: #5d4eff;
  /* Shdow */
  --color-shadow-primary: #00000030;
}
