[data-theme='dark'] {
  /* Background */
  --color-bg-primary: #1b2028;
  --color-bg-split: #1f252f;
  --color-bg-main: #17181b;
  --color-bg-popper: #fff;
  --color-bg-trans: #1b2028e6;
  --color-bg-lighter: #232933;
  /* Text */
  --color-text-primary: #fff;
  --color-text-secondary: #d2d3d5;
  --color-text-placeholder: #787c82;
  --color-text-popper: #4b4e5c;
  --color-title-primary: #fff;
  /* Border */
  --color-border-primary: #41454c;
  --color-border-menu: #2d323a;
  --color-border-normal: #2d323a;
  /* Colors */
  --color-primary: #5e4eff;
  --color-hover: #153c37;
  --color-stream: #5d4eff;
}
