[data-theme="dark"] {
  /* Background */
  --color-bg-primary: #1B2028;
  --color-bg-split: #232933;
  --color-bg-main: #F9FAFB;
  --color-bg-menu--hover: #CCEFE3;
  /* Text */
  --color-text-primary: #fff;
  --color-text-secondary: #808895;
  --color-title-primary: #fff;
  /* Border */
  --color-border-primary: #D0D4DC;
  --color-border-menu: #E7E6EF;
  /* Colors */
  --color-primary: #00B173;
  --color-hover: #E6FBF4;
  --color-stream: #5D4EFF;
}
