[data-theme='dark'] {
  /* Background */
  --color-bg: #18191d;
  --color-bg-content: #212429;
  --color-bg-split: #272b32;
  --color-bg-main: #17181b;
  --color-bg-popper: #fff;
  --color-bg-trans: #212429e6;
  --color-bg-lighter: #323a48;
  --color-bg-mdcode: #ffffff14;
  --color-bg-details: #1b2028ed;
  --color-bg-table-hd: #353a41;
  /* Text */
  --color-text-primary: #fff;
  --color-text-secondary: #d2d3d5;
  --color-text-placeholder: #787c82;
  --color-text-popper: #4b4e5c;
  --color-title-primary: #fff;
  --color-text-footer: #96999c;
  --color-text-mdcode: #f76565;
  --color-text-progress: #ffffff;
  /* Border */
  --color-border-primary: #41454c;
  --color-border-card: #ffffff10;
  --color-border-normal: #2d323a;
  /* Colors */
  --color-primary: #00b173;
  --color-hover: #153c37;
  --color-stream: #5d4eff;
  /* Shdow */
  --color-shadow-primary: #00000030;
}
