[data-theme='light'] {
  /* Background */
  --color-bg-primary: #fff;
  --color-bg-split: #f7fafe;
  --color-bg-main: #f9fafb;
  --color-bg-popper: #282e38;
  --color-bg-trans: #ffffffe6;
  --color-bg-lighter: #ebeef5;
  /* Text */
  --color-text-primary: #4b4e5c;
  --color-text-secondary: #808895;
  --color-text-placeholder: #808895;
  --color-text-popper: #fff;
  --color-title-primary: #1d1d1d;
  --color-text-footer: #8e8e8e;
  /* Border */
  --color-border-primary: #d0d4dc;
  --color-border-menu: #e7e6ef;
  --color-border-normal: #eeedf6;
  /* Colors */
  --color-primary: #5e4eff;
  --color-hover: #eeeefe;
  --color-stream: #604dff;
  --menu-active-color: #5e4eff;
  --bg-hover: linear-gradient(33deg, #9a66ff20 0%, #3651ec20 100%);
}
