[data-theme='light'] {
  /* Background */
  --color-bg-primary: #fff;
  --color-bg-split: #F8FAFE;
  --color-bg-main: #f9fafb;
  --color-bg-menu: #071927;
  --color-bg-popper: #282e38;
  --color-bg-trans: #ffffffe6;
  --color-bg-lighter: #E6EDFB;
  --color-bg-mdcode: #f4f4f4;
  --color-bg-details: #ffffffed;
  /* Text */
  --color-text-primary: #343741;
  --color-text-secondary: #5a5f6f;
  --color-text-placeholder: #BAC1CD;
  --color-text-popper: #fff;
  --color-title-primary: #192144;
  --color-text-footer: #8e8e8e;
  --color-text-mdcode: #EB4E3D;
  --color-text-progress: #131518cf;
  /* Border */
  --color-border-primary: #D0D4DC;
  --color-border-card: #E2E6F0;
  --color-border-normal: #eeedf6;
  /* Colors */
  --color-primary: #5e4eff;
  --color-hover: #eeeefe;
  --color-stream: #604dff;
  --menu-active-color: #5e4eff;
  --bg-hover: linear-gradient(33deg, #9a66ff20 0%, #3651ec20 100%);
  /* Shdow */
  --color-shadow-primary: #888ebf33;
}
