[data-theme='light'] {
  /* Background */
  --color-bg-primary: #fff;
  --color-bg-split: #f7fafe;
  --color-bg-main: #f9fafb;
  --color-bg-popper: #282e38;
  --color-bg-trans: #ffffffe6;
  --color-bg-lighter: #ebeef5;
  /* Text */
  --color-text-primary: #4b4e5c;
  --color-text-secondary: #808895;
  --color-text-placeholder: #808895;
  --color-text-popper: #fff;
  --color-title-primary: #1d1d1d;
  /* Border */
  --color-border-primary: #d0d4dc;
  --color-border-menu: #e7e6ef;
  --color-border-normal: #eeedf6;
  /* Colors */
  --color-primary: #00b173;
  --color-hover: #e6fbf4;
  --color-stream: #5d4eff;
}
