[data-theme='light'] {
  // 主要颜色
  --color-brand: #DF2525; // 品牌色
  --color-blue-grey: #4A75BB; // 蓝东色
  --color-deep-blue-grey: #4C638F; // 深蓝灰色
  --color-hover: #6D90C8; // hover色
  --color-selected: #E6EFFF; // 选中色

  // 灰度颜色
  --color-grey-1: #262626; // 用于核心文字
  --color-grey-2: #595959; // 用于非核心文字
  --color-grey-3: #8C8C8C; // 用于辅助文字
  --color-grey-4: #BFBFBF; // 用于表单提示
  --color-grey-5: #DCDCDC; // 用于按钮描边
  --color-grey-6: #E5E5E5; // 用于一级二级tab分割线
  --color-grey-7: #EEEEEE; // 用于卡片描边
  --color-grey-8: #EAEBED; // 用于侧导背景色
  --color-grey-9: #F1F1F2; // 用于登录页背景色
  --color-grey-10: #F2F4F5; // 用于表格表头
  --color-grey-11: #F7F8F9; // 用于背景色
  --color-grey-12: #F9FAFB; // 用于表格斑马纹
  --color-white: #FFFFFF; // 用于页面背景

  // 功能色
  --color-info: #ED5832; // 提示色
  --color-success: #00A770; // 成功色
  --color-warning: #ED7B2F; // 警示色
  --color-error: #E34D59; // 错误色

  // 状态色
  --color-on-info: #ED5832; // 提示状态色
  --color-on-success: #4C638F; // 成功状态色
  --color-on-warning: #4C638F; // 警告状态色
  --color-on-error: #4C638F; // 错误状态色
}