@font-face {
  font-family: "iconfont"; /* Project id 3296526 */
  src: url('iconfont.woff2?t=1671085752363') format('woff2'),
       url('iconfont.woff?t=1671085752363') format('woff'),
       url('iconfont.ttf?t=1671085752363') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\e6bd";
}

.icon-linkedin:before {
  content: "\e611";
}

.icon-twitter:before {
  content: "\e736";
}

.icon-youtube:before {
  content: "\e8e2";
}

.icon-retained-dark-selected:before {
  content: "\e79b";
}

.icon-retained-dark:before {
  content: "\e79c";
}

.icon-retained-light:before {
  content: "\e79d";
}

.icon-retained-light-selected:before {
  content: "\e79e";
}

.icon-discord:before {
  content: "\ebf8";
}

.icon-github:before {
  content: "\ec01";
}

.icon-integration-dark-selected:before {
  content: "\e77b";
}

.icon-integration-light-selected:before {
  content: "\e780";
}

.icon-integration-dark:before {
  content: "\e783";
}

.icon-integration-light:before {
  content: "\e784";
}

.icon-connections-dark:before {
  content: "\e773";
}

.icon-connections-dark-selected:before {
  content: "\e776";
}

.icon-extensions-dark-selected:before {
  content: "\e77f";
}

.icon-subscriptions-dark-selected:before {
  content: "\e781";
}

.icon-extensions-dark:before {
  content: "\e787";
}

.icon-subscriptions-dark:before {
  content: "\e788";
}

.icon-connections-light-selected:before {
  content: "\e77a";
}

.icon-subscriptions-light-selected:before {
  content: "\e782";
}

.icon-connections-light:before {
  content: "\e785";
}

.icon-subscriptions-light:before {
  content: "\e786";
}

.icon-extensions-light-selected:before {
  content: "\e774";
}

.icon-extensions-light:before {
  content: "\e779";
}

.icon-authentication-light:before {
  content: "\e75f";
}

.icon-authentication-dark:before {
  content: "\e760";
}

.icon-configuration-dark-selected:before {
  content: "\e761";
}

.icon-authentication-light-selected:before {
  content: "\e762";
}

.icon-configuration-dark:before {
  content: "\e763";
}

.icon-configuration-light-selected:before {
  content: "\e764";
}

.icon-configuration-light:before {
  content: "\e765";
}

.icon-diagnosis-dark:before {
  content: "\e767";
}

.icon-diagnosis-dark-selected:before {
  content: "\e76a";
}

.icon-diagnosis-light:before {
  content: "\e76c";
}

.icon-diagnosis-light-selected:before {
  content: "\e76d";
}

.icon-monitoring-dark:before {
  content: "\e76e";
}

.icon-authentication-dark-selected:before {
  content: "\e76f";
}

.icon-monitoring-light-selected:before {
  content: "\e771";
}

.icon-system-light:before {
  content: "\e775";
}

.icon-system-light-selected:before {
  content: "\e777";
}

.icon-system-dark:before {
  content: "\e778";
}

.icon-monitoring-light:before {
  content: "\e77c";
}

.icon-monitoring-dark-selected:before {
  content: "\e77d";
}

.icon-system-dark-selected:before {
  content: "\e77e";
}

.icon-fold:before {
  content: "\e74f";
}

.icon-language:before {
  content: "\e6c7";
}

