.clients,
.subscriptions,
.topics {
  .col-oper {
    display: flex !important;
    align-items: center;
  }
  .show-more {
    font-size: 18px;
    cursor: pointer;
    margin-left: 12px;
    color: var(--color-primary);
  }
}
