@use "sass:math";
/* Components Reset Colors */
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $main: (
    'padding': 0px,
  ),
  $card: (
    'border-radius': 8px,
    'bg-color': var(--color-bg-primary),
  ),
  $input: (
    'border-color': var(--color-border-primary),
    'placeholder-color': var(--color-text-placeholder),
    'text-color': var(--color-text-primary),
    'bg-color': var(--color-bg-primary),
  ),
  $messagebox: (
    'border-radius': 8px,
  ),
  $button: (
    'bg-color': var(--color-bg-primary),
    'hover-bg-color': var(--color-hover),
    'hover-border-color': var(--color-primary),
    'border-color': var(--color-border-primary),
    'disabled-bg-color': var(--color-bg-split),
  ),
  $radio: (
    'input-border-color': var(--color-border-primary),
  ),
  $table: (
    'border-color': var(--color-border-card),
    'border': 1px solid var(--color-border-card),
    'header-text-color': var(--color-title-primary),
    'header-bg-color': var(--color-bg-primary),
    'bg-color': var(--color-bg-primary),
    'tr-bg-color': var(--color-bg-primary),
    'expanded-cell-bg-color': var(--color-bg-primary),
  ),
  $dialog: (
    'border-radius': 8px,
    'bg-color': var(--color-bg-primary),
  ),
  $drawer: (
    'bg-color': var(--color-bg-primary),
  ),
);

@use "element-plus/theme-chalk/src/index";

/* Root Colors */
:root {
  --el-border-radius-base: 8px;
  --el-color-primary: var(--color-primary);
  --el-text-color-regular: var(--color-text-primary);
  --el-text-color-primary: var(--color-text-primary);
  --el-text-color-secondary: var(--color-text-secondary);
  --el-disabled-text-color: var(--color-text-primary);
  --el-border-color-light: var(--color-border-normal);
  --el-color-success: #00B173;
  --el-color-danger: #EB4E3D;
  --el-color-warning: #F19710;
  --el-color-info: #7A7B80;
  --el-box-shadow-light: var(--color-shadow-primary) 0px 4px 12px;
  --el-border: 1px solid var(--color-border-primary);
  --el-fill-color-light: var(--color-bg-split);
}

/* Menu */
.el-menu {
  &:not(.el-menu--horizontal, .el-menu--popup) {
    background-color: var(--color-bg-menu);
    $menu-item-height: 50px;
    border-right: none;
    color: #ffffffd9;
    .menu-item-title {
      $line-height: 20px;
      padding-left: 10px;
      margin-top: 0;
      margin-bottom: 0;
      white-space: normal;
      line-height: $line-height;
      padding-top: math.div($menu-item-height - $line-height, 2);
      padding-bottom: math.div($menu-item-height - $line-height, 2);
    }
    .el-sub-menu__title {
      padding: 0px 0px 0px 8px !important;
      margin: 0px 12px;
      border-radius: 8px;
      border-left: 4px solid transparent;
      color: #ffffffd9;
      &:hover {
        background-color: #1F303C;
        border-radius: 8px;
      }
    }
    .el-sub-menu {
      &.is-active.is-opened {
        .el-sub-menu__title {
          color: #fff;
        }
      }
      .el-menu-item,
      .el-menu-item-group__title {
        padding: 0px 0px 0px 31px !important;
      }
      .el-sub-menu__icon-arrow {
        top: 52%;
        right: 8px;
      }
    }
    .el-menu-item {
      color: #ffffffd9;
      border-radius: 8px;
      padding: 0px 0px 0px 8px !important;
      min-width: initial;
      &.is-active {
        color: #fff;
        background-color: #1F303C;
        border-radius: 8px;
      }
      &:hover {
        background-color: #1F303C;
        border-radius: 8px;
      }
    }
    .el-menu-item,
    .el-menu-item-group__title {
      border-left: 4px solid transparent;
      margin: 0 12px;
    }
  }
  .el-menu-item-group__title {
    font-size: 14px;
    cursor: default;
    color: #ffffff59;
  }
  &.el-menu--popup {
    min-width: initial;
    background-color: var(--color-bg-menu);
    .el-menu-item {
      color: #ffffffd9;
      &.is-active {
        color: #fff;
        background-color: #1F303C;
      }
      &:hover {
        color: #fff;
        background-color: #1F303C;
      }
    }
  }
  &.el-menu--horizontal {
    background-color: var(--color-bg-primary);
    box-shadow: 0px 2px 4px var(--color-shadow-primary);
    border-bottom: none;
    .el-menu-item {
      height: 36px;
      margin: 12px 4px;
      padding: 0 16px;
      border-radius: 8px;
      border-bottom: none;
      &:hover {
        background-color: var(--color-hover);
        color: var(--color-primary);
      }
      &.is-active {
        background-color: var(--color-hover);
        border-bottom: none;
      }
    }
  }
  &.el-menu--collapse {
    >.el-sub-menu.is-active .el-sub-menu__title {
      background-color: #1F303C;
      color: #fff;
    }
  }
}
/* Table */
.el-table {
  border-radius: 8px;
  box-shadow: var(--el-box-shadow-light);
  &:after,
  &:before,
  .el-table__inner-wrapper:after,
  .el-table__inner-wrapper:before {
    content: "" !important;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    z-index: 3;
  }
  .el-table__inner-wrapper:after,
  .el-table__inner-wrapper:before {
    box-sizing: border-box;
    left: 0;
    width: 100%;
    height: 16px;
    border: 1px solid var(--color-border-normal);
  }
  /* Top */
  .el-table__inner-wrapper:after {
    top: 0;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
  }
  /* Bottom */
  .el-table__inner-wrapper:before {
    bottom: 0px;
    border-radius: 0 0 8px 8px;
    border-top: none;
  }
  &:after,
  &:before {
    top: 6px;
    width: 1px;
    height: calc(100% - 16px);
    background-color: var(--color-border-normal);
  }
  /* Right */
  &:after {
    right: 0;
  }
  /* Left */
  &:before {
    left: 0;
  }
}
.el-table {
  .el-table__expanded-cell {
    background-color: var(--color-bg-split);
  }
  &.shadow-none {
    box-shadow: none;
  }
  .el-badge__content {
    vertical-align: 1px;
    margin-right: 3px;
  }
  .el-table__cell {
    padding: 16px 0;
    > .cell {
      padding: 0 16px;
      word-break: break-word;
      text-overflow: clip;
    }
  }
  .el-table__row:last-child {
    th.el-table__cell.is-leaf, td.el-table__cell {
      border-bottom: none;
    }
  }
}
.el-table__inner-wrapper::before {
  height: 0px;
}
.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
  background: var(--color-bg-split);
}
.el-table__header-wrapper tr td.el-table-fixed-column--left,
.el-table__header-wrapper tr td.el-table-fixed-column--right,
.el-table__header-wrapper tr th.el-table-fixed-column--left,
.el-table__header-wrapper tr th.el-table-fixed-column--right,
.el-table__body-wrapper tr td.el-table-fixed-column--left,
.el-table__body-wrapper tr td.el-table-fixed-column--right,
.el-table__body-wrapper tr th.el-table-fixed-column--left,
.el-table__body-wrapper tr th.el-table-fixed-column--right,
.el-table__footer-wrapper tr td.el-table-fixed-column--left,
.el-table__footer-wrapper tr td.el-table-fixed-column--right,
.el-table__footer-wrapper tr th.el-table-fixed-column--left,
.el-table__footer-wrapper tr th.el-table-fixed-column--right {
  background-color: var(--el-table-bg-color);
}

.el-table__body-wrapper tr td.el-table-fixed-column--left.is-last-column::before {
  bottom: 0;
}

/* Progress */
.el-progress-bar__outer {
  background-color: var(--color-bg-lighter);
}
.el-progress {
  display: flex;
  .el-progress__text {
    font-size: 13px !important;
    color: var(--color-text-primary) !important;
  }
  .el-progress-bar__inner {
    background: linear-gradient(135deg, #0AD18E 0%, #03A4A5 100%);
  }
  .el-progress-bar {
    &__outer {
      border-radius: 2px;
    }
    &__inner {
      border-radius: 2px;
    }
  }
}

/* Tabs */
.el-tabs {
  .el-tabs__content {
    overflow: visible;
  }
}
.el-tabs.el-tabs--top:not(.el-tabs--card) {
  & .is-top .el-tabs__nav-wrap::after {
    height: 1px;
    background-color: var(--color-border-primary);
  }
}
.el-tabs.el-tabs--left:not(.el-tabs--card) {
  & .is-left .el-tabs__nav-wrap::after {
    width: 1px;
  }
}
.el-tabs.el-tabs--top:not(.el-tabs--card) .el-tabs__item.is-top {
  padding-left: 0;
  padding-right: 0;
  &::before,
  &::after {
    content: '';
    display: inline-block;
    visibility: hidden;
  }
  &::before {
    width: 22px;
  }
  &::after {
    width: 22px;
  }
}

/* Tabs Card */
.el-tabs--card {
  &>.el-tabs__header {
    border-bottom: 1px solid var(--color-border-card);
    margin-bottom: 0px;
    .el-tabs__nav {
      border: none;
    }
    .el-tabs__item.is-active {
      border-bottom: 1px solid var(--color-bg-primary);
    }
    .el-tabs__item,
    .is-focus {
      outline: none;
      border-left: none;
      border-top: 2px solid transparent;
      transition: border-top 0.3s, color 0.3s, padding 0.3s;
      &.is-active,
      .is-focus {
        outline: none;
        border-top: 2px solid var(--color-primary);
        border-left: 1px solid var(--color-border-card);
        border-right: 1px solid var(--color-border-card);
      }
    }
  }
}

@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  
  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
              0 -1px 0 $weight rgba($mix-sub-from, .25),
              1px 0 0 $weight rgba($mix-sub-to, .25),
              -1px 0 0 $weight  rgba($mix-sub-from, .25),
              1px -1px 0 $weight rgba($mix-main, .5),
              -1px 1px 0 $weight rgba($mix-main, .5),
              1px 1px 0 $weight rgba($to, .75),
              -1px -1px 0 $weight rgba($from, .75);
}

/* Button */
.el-button {
  &.el-button--primary:not(.is-link) {
    background: linear-gradient(135deg, #0AD18E 0%, #03A4A5 100%);
    border: none;
    color: #fff;
    &.is-plain {
      background: var(--color-bg-primary);
      color: var(--color-primary);
      @include border-gradient(#7ad8b3, #6dbebe);
    }
    &:hover {
      background: linear-gradient(135deg, #53DEB0 0%, #4EBFC0 100%);
      color: #fff;
    }
    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        background: linear-gradient(135deg, #CDF5E8 0%, #CCEDED 100%);
        color: #86DBC1;
      }
    }
  }
  &--small {
    min-height: 22px;
    padding: 4px 9px;
  }
  &+.el-dropdown {
    margin-left: 10px;
  }
}
.el-button.is-link:hover,
.el-button.is-link:focus {
  --el-button-hover-link-text-color: var(--color-primary);
  opacity: 0.7;
}

/* Dropdown */
.el-dropdown-menu {
  background: var(--color-bg-primary);
}
.el-dropdown__popper.el-popper[role=tooltip] {
  background: var(--color-bg-primary);
}
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: var(--color-bg-split);
  color: var(--color-text-primary);
}
.el-dropdown-menu__item.active {
  background-color: var(--color-bg-split);
  color: var(--color-primary);
}
.el-dropdown-menu__item--divided {
  border-top: 1px solid var(--color-border-normal);
}

/* Input */
.el-input,
.el-textarea,
.el-input-number,
.el-select {
  transition: all 0.3s;
  width: 100%;
}

/* Input Number*/
.el-input-number .el-input__inner {
  text-align: left;
}
.el-input-number.is-disabled.is-controls-right {
  .el-input-number__increase {
    border-bottom: 1px solid var(--color-border-normal);
  }
  .el-input-number__decrease {
    // Fix for Safari
    top: 16px !important;
    border-left: 1px solid var(--color-border-normal);
  }
}
.el-input-number.is-controls-right {
  line-height: 0;
  input {
    font-size: 14px;
  }
}

/* Select */
.el-select__popper.el-popper[role=tooltip] .el-popper__arrow::before {
  border: 1px solid var(--color-border-normal);
  background: var(--color-bg-primary);
}
.el-select__popper.el-popper[role=tooltip] {
  background: var(--color-bg-primary);
}
.el-select .el-select__tags .el-tag--info {
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-bg-split);
  color: var(--color-text-primary);
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  background-color: var(--color-bg-primary);
}
.el-input.is-disabled {
  &.el-input-group--append .el-input-group__append .el-select .el-input .el-input__wrapper,
  &.el-input-group--append .el-input-group__append  {
    box-shadow: 0 0 0 1px var(--el-disabled-border-color) inset;
  }

  &.el-input-group--append .el-input-group__append .el-select:hover .el-input__wrapper {
    box-shadow: 0 0 0 1px var(--el-disabled-border-color) inset !important;
  }
}


/* Date Edtior */
.el-date-editor {
  --el-date-editor-width: 100%;
}
.el-date-editor .el-range-input {
  background-color: transparent;
}
.el-picker-panel {
  background-color: var(--color-bg-primary);
}
.el-picker-panel__footer {
  background-color: var(--color-bg-primary);
}
.el-date-table td.in-range .el-date-table-cell:hover,
.el-date-table td.in-range .el-date-table-cell {
  background-color: var(--color-bg-split); 
}

.el-picker-panel .el-time-panel {
  background-color: var(--color-bg-primary);
}

.el-picker-panel *[slot=sidebar],
.el-picker-panel__sidebar {
  background-color: var(--color-bg-primary);
}

/* Steps */
.el-steps {
  .el-step__head.is-process {
    color: var(--color-text-primary);
  }
  &.el-steps--horizontal {
    .el-step__title {
      color: inherit;
    }
    .el-step__line-inner {
      border-color: var(--color-border-normal);
    }
    .el-step__line {
      background-color: var(--color-border-normal);
    }
    .is-success {
      .el-step__icon {
        background-color: var(--color-primary);
        border: none;
         &::before {
        position: absolute;
        content: '';
        border-radius: 50%;
        left: -4px;
        width: 32px;
        height: 32px;
        background-color: #00b17333;
      }
      }
    }
  }
}
.el-step__icon {
  background-color: var(--color-border-primary);
  color: #fff;
}
.el-step__icon.is-text {
  border: none;
}

/* Popper */
.el-popper {
  font-size: 13px;
  line-height: 1.6;
  &:not(.el-select__popper):not(.el-picker__popper):not(.is-wider) {
    max-width: 320px;
  }
  &.is-wider {
    max-width: 900px;
  }
}

.el-popper {
  --el-popper-border-radius: 8px;
}
.el-popper.is-dark {
  background: var(--color-bg-popper);
  color: var(--color-text-popper);
  .el-popper__arrow::before {
    background: var(--color-bg-popper);
  }
}
.el-popper.is-light {
  border: none;
  background-color: var(--color-bg-primary);
  .el-popper__arrow::before {
    background-color: var(--color-bg-primary);
    color: #fff;
  }
}

/* Popover */
.el-popover {
  max-width: 50%;
  max-height: 50%;
}

/* Tag */
.el-tag {
  font-weight: normal;
  border-radius: 8px;
  &.el-tag--danger {
    background-color: #FCECEC;
    border: 1px solid #E44242;
  }
  &.el-tag--info {
    border: 1px solid var(--color-border-primary);
    background-color: var(--color-bg-split);
    color: var(--color-text-primary);
  }
  &.el-tag--large {
    font-size: 14px;
    --el-icon-size: 14px;
  }
  .el-tag__content {
    display: flex;
    align-items: center;
  }
  &.el-tag--large {
    border-radius: 8px;
  }
}

/* Message */
.el-message {
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--el-notification-shadow);
  min-height: 56px;
  .el-icon {
    font-size: 18px;
  }
  .el-message__content {
    color: #343741;
    line-height: 1.5;
  }
  .el-message__closeBtn {
    color: #343741;
    font-size: 14px;
  }
  &--success {
    border: 1px solid #00A890;
    background-color: #E2FFF5;
  }
  &--error {
    border: 1px solid #EB4E3D;
    background-color: #FFE9E7;
  }
  &--warning {
    border: 1px solid #F19710;
    background-color: #FFF0DA;
  }
  &--message, &--info {
    border: 1px solid #469CF7;
    background-color: #E6EEFF;
  }
}

/* Message Box */
.el-message-box {
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-normal);
}
.el-message-box__status + .el-message-box__message {
  line-height: 1.4;
}

/* Notification */
.el-notification {
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-normal);
}

/* Card */
.el-card {
  &:not(.with-border){
    border: none;
  }
  &.with-border {
    border: 1px solid var(--color-border-card);
  }
  &.allow-overflow {
    overflow: visible;
  }
  position: relative;
  &.top-border,
  &.top-primary {
    &:before {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: 100%;
      height: 4px;
      border-radius: 0px;
    }
  }
}

/* Loading */
.el-loading-parent--relative {
  border-width: 1px;
  &::before {
    height: 0;
  }
}
.el-loading-mask {
  z-index: 99;
  background-color: var(--color-bg-trans) !important;
}

/* Form */
.el-form {
  &--label-top {
    .el-form-item__label {
      padding: 0;
    }
  }
}
.el-form-item__content>.el-row {
  width: 100%;
}
.el-form-item__label {
  height: auto;
}
.el-form--label-top .el-form-item .el-form-item__label {
  display: inline-block;
}

/* Radio */
.el-radio-button__inner {
  background: var(--color-bg-primary);
}
.el-radio-button__original-radio:checked + .el-radio-button__inner {
  background: var(--color-hover);
  color: var(--color-primary);
}
.el-radio.is-bordered.is-disabled {
  border-color: var(--color-border-normal);
}
.el-radio.is-bordered {
  .el-radio__input {
    display: none;
  }
}


/* Description */
.el-descriptions {
  .el-descriptions__title {
    color: var(--color-title-primary);
  }
  .el-descriptions__label {
    color: var(--color-text-secondary);
  }
  .el-descriptions__label.el-descriptions__cell.is-bordered-label {
    color: var(--color-title-primary);
    background-color: var(--color-bg-split);
  }
  .el-descriptions__body .el-descriptions__table:not(.is-bordered) .el-descriptions__cell {
    padding-bottom: 14px;
  }
  .el-descriptions__content.el-descriptions__cell.is-bordered-content {
    word-break: break-all;
    background-color: var(--color-bg-primary);
  }
  .el-descriptions__body .el-descriptions__table.is-bordered .el-descriptions__cell {
    border: 1px solid var(--color-border-normal);
  }
  .el-descriptions__label.el-descriptions__cell.is-bordered-label {
    min-width: 135px;
  }
}

/* Page Header */
.el-page-header__content {
  color: var(--color-title-primary);
  font-weight: 600;
  font-size: 18px;
}
.el-page-header__icon {
  font-size: 14px;
}
.el-page-header__left {
  .el-page-header__back:hover {
    color: var(--color-primary);
  }
}

/* Pagination */
.el-pagination.is-background .btn-prev:disabled, .el-pagination.is-background .btn-next:disabled {
  color: #D0D4DC;
  background-color: var(--color-bg-primary);
}
.el-pagination.is-background .btn-prev, .el-pagination.is-background .btn-next, .el-pagination.is-background .el-pager li {
  border-radius: 8px;
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}
.el-pagination.is-background .el-pager li:not(.is-disabled).is-active {
  background-color: var(--color-bg-primary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

/* Uploader */
.el-upload-dragger {
  background-color: var(--color-bg-primary);
  border-color: var(--color-border-primary);
}

/* Tree */
.el-tree {
  background: var(--color-bg-primary);
}

/* collapse */
.el-collapse-item__header {
  background-color: var(--color-bg-primary);
  font-size: 14px;
}
.el-collapse-item__content {
  background-color: var(--color-bg-primary);
  font-size: 14px;
}
.el-collapse-item__wrap {
  border-bottom: 1px solid var(--color-border-primary);
}

/* Divider */
.el-divider--horizontal {
  border-top: 1px solid var(--color-border-card);
}

/* Drawer */
.el-drawer__header {
  color: var(--color-title-primary);
  .el-drawer__title {
    font-size: 18px;
  }
}

/* Skeleton */ 
[data-theme='dark'] {
  .el-skeleton {
    --el-skeleton-color: #323947;
    --el-skeleton-to-color: var(--color-bg-mdcode);
  }
}

.el-skeleton {
  padding: 8px 28px;
  .el-skeleton__item {
    height: 16px;
    margin-top: 20px;
  }
}

/* Dialog */
.dialog-with-divider {
  .el-dialog__header {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 0;
    border-bottom: 1px solid var(--color-border-card);
  }

  .el-dialog__footer {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid var(--color-border-card);
  }

  .el-dialog__headerbtn {
    height: 50px;
  }
}
