@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $menu:(
    'text-color':var(--el-text-color-secondary),
    'background-color':#282e38ff,
    'hover-background-color':#00b29915,
    // for element-plus 1.2.0 above
    // 'bg-color':#282e38ff,
    // 'hover-bg-color':#00b29915,
  ),
  $card:(
    'border-radius':2px,
  ),
  $table:(
      'header-font-color':var(--el-text-color-regular)
  )
);
@import "element-plus/theme-chalk/src/index";
:root{
  --el-text-color-primary:#1d1d1dff ;

  --el-color-primary:#00b299ff;
  --el-border-radius-base:2px;
  --el-text-color-secondary:#bbb;
}

.el-menu{
    border-right: none;
    .el-menu-item.is-active,&.el-menu--collapse .el-sub-menu.is-active{
        background-color: #00b29915;
        font-weight: 900;
    }

    span{
        text-indent: 10px;
        display: inline-block;
    }

    &.el-menu--horizontal{
        background-color: var(--el-color-white);

        > .el-menu-item{
            height: 45px;
            color: #8c8c8cff;
            &.is-active{
                background-color: inherit;
            }
            &:hover{
                background-color: #00b2990b;
            }
        }
    }
}

.el-table{
    border: var(--el-table-border) ;
    border-bottom: none;

    .el-badge__content{
        vertical-align: 1px;
        margin-right: 3px;
    }
}

.el-progress-bar{
    &__outer{
        border-radius: 1px;
    }
    &__inner {
        border-radius: 1px;
      }
}

.el-tabs--card {
    & > .el-tabs__header {
      border-bottom: 0px;
      margin-bottom: 0px;
  
      .el-tabs__nav {
        border: none;
      }
  
      .el-tabs__item,
      .is-focus {
        outline: none;
        border-left: none;
        border-bottom: 1px solid #f0f0f8;
        border-top: 2px solid #ffffff;
        transition: border-top 0.3s, color 0.3s, padding 0.3s;
  
        &.is-active,
        .is-focus {
          outline: none;
          border-top: 2px solid #00b299ff;
          border-left: 1px solid #f0f0f8;
          border-right: 1px solid #f0f0f8;
        }
      }
    }
  }

  .el-button{
    &.el-button--default {
        color: #1d1d1dff;
        background-color: #ffffff;
        border-color: #1d1d1d;
    
        &:hover ,&:active{
          color: #00b299ff;
          border-color: #00b299ff;
        }

        &.is-disabled {
          &,&:hover,&:focus,&:active {
            border-color: #c8c8c8;
            color: #c8c8c8;
            background-color: #ffffff;
          }
        }
      }

      &--danger{
          --el-button-font-color:#e34242ff;
          --el-button-background-color:#ffffffff;
          --el-button-border-color:#e34242ff;
        //   --el-button-hover-color:#f00000ff;
        //   --el-button-active-font-color:#e34242ff;
        //   --el-button-active-background-color:#ffffffff;
        //   --el-button-active-border-color:#e34242ff;
          &:hover ,&:active,&:focus{
            color: #ff7c7cff;
            border-color: #ff7c7cff;
            background-color: #ffffffff;

          }
          &.is-disabled{
            &,&:hover,&:focus,&:active{
                color: #f8b2b2ff;
            border-color: #f8b2b2ff;
            background-color: #ffffffff;
            }
          }
      }

    //   &--default{
    //     --el-button-font-color:#1d1d1dff;
    //     --el-button-background-color:#ffffffff;
    //     --el-button-border-color:#1d1d1dff;
    //     --el-button-hover-color:#00b299ff;
    //     --el-button-active-font-color:#1d1d1dff;
    //     --el-button-active-background-color:#ffffffff;
    //     --el-button-active-border-color:#1d1d1dff;
    //     &.is-disabled{
    //         &,&:hover,&:focus,&:active{
    //             border-color: #c8c8c8;
    //         color: #c8c8c8;
    //         background-color: #ffffff;
    //         }
    //       }
    //   }

      // &--primary{
      //   --el-button-font-color:#ffffffff;
      //   --el-button-background-color:#00b299ff;
      //   --el-button-border-color:#00b299ff;
      //   --el-button-hover-color:#25d0b8ff;
      //   --el-button-active-font-color:#ffffffff;
      //   --el-button-active-background-color:#00b299ff;
      //   --el-button-active-border-color:#00b299ff;
      //   &.is-disabled{
      //       &,&:hover,&:focus,&:active{
      //           background-color: #9edcd3ff;
      //       border-color: #9edcd3ff;
      //       color:#ffffffff;
      //       }
      //     }
      // }


  &.el-button--primary {
    background-color: #00b299ff;
    border-color: #00b299ff;
    color: #ffffffff;

    &:hover {
      background-color: #25d0b8ff;
      border-color: #25d0b8ff;
      color: #ffffffff;
    }

    &.is-disabled {
      &,
      &:hover,&:focus,&:active{
        background-color: #9edcd3ff;
        border-color: #9edcd3ff;
        color:#ffffffff;
      }
    }
  }

      &--mini{
          min-height: 22px;
          padding:4px 9px;
      }

      & + .el-dropdown {
        margin-left: 10px;
      }
  }

  .el-dropdown{

      &-menu__item {
        &.active {
          background-color: #e3f7f4;
          color: #4d4d4dff;
        }
        &:not(.is-disabled):hover {
          background-color: #f1f3f7;
          color: #4d4d4dff;
        }
      }
  }

.el-input,
.el-textarea,
.el-select {
  transition: all 0.3s;
  width: 100%;

}

.el-date-editor {
    --el-date-editor-width:100%;
}

.el-tabs.el-tabs--top:not(.el-tabs--card) {
    .el-tabs__item {
      &.is-top {
        padding: 0 0 0 20px;
      }
    }
  
    & .is-top .el-tabs__nav-wrap::after {
      height: 1px;
    }
  }
  
  .el-tabs.el-tabs--left:not(.el-tabs--card) {
    & .is-left .el-tabs__nav-wrap::after {
      width: 1px;
    }
  }

  .el-steps {
    &.el-steps--horizontal {
      .el-step__title {
        color: inherit;
      }
  
      .el-step__line-inner {
        border-color: #e2edeb;
      }
      .el-step__line {
        background-color: #e2edeb;
      }
  
      .is-success {
        .el-step__icon {
          background-color: #00b299ff;
          color: #ffffff;
          border: none;
        }
      }
    }
  }

  .el-popper{
    --el-popper-border-radius:2px;
    &.is-light{
      border:none
    }
  }

  .el-popover{
    max-width: 50%;
    max-height: 50%;
    overflow-y: auto;
  }

  .el-tag {
    border-radius: 0;
    font-weight: normal;
    &.el-tag--danger {
      background-color: #e34242ff;
      color: #fff;
      border: none;
    }
    &.el-tag--info {
      background-color: #eff3fe;
      color: #8d96a2ff;
      border: none;
    }
  }

  .el-message {
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
    border: none;
    &--success {
      .el-message__content,
      .el-icon-success {
        color: var(--el-color-primary)
      }
    }
  }

  .el-card {
   --el-card-border-color:#ececefff;
  }

  .el-loading-parent--relative {
    border-width: 1px;
    &::before {
      height: 0;
    }
    .el-loading-mask {
      z-index: 99;
    }
  }

  .el-form{
    &--label-top{
      .el-form-item__label{
        padding:0;
      }
    }
  }