@use "sass:math";
/* Components Reset Colors */
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $menu: (
    'text-color': var(--color-text-primary),
    'border-color': var(--color-border-menu),
    'bg-color': var(--color-bg-primary),
    'hover-bg-color': var(--color-hover),
  ),
  $main: (
    'padding': 0px,
  ),
  $card: (
    'border-radius': 8px,
    'bg-color': var(--color-bg-primary),
  ),
  $input: (
    'border-color': var(--color-border-primary),
    'placeholder-color': var(--color-text-placeholder),
    'text-color': var(--color-text-primary),
    'bg-color': var(--color-bg-primary),
  ),
  $messagebox: (
    'border-radius': 8px,
  ),
  $button: (
    'bg-color': var(--color-bg-primary),
    'hover-bg-color': var(--color-hover),
    'hover-border-color': var(--color-primary),
    'border-color': var(--color-border-primary),
    'disabled-bg-color': var(--color-bg-split),
  ),
  $radio: (
    'input-border-color': var(--color-border-primary),
  ),
  $table: (
    'border-color': var(--color-border-normal),
    'border': 1px solid var(--color-border-normal),
    'header-text-color': var(--color-title-primary),
    'header-bg-color': var(--color-bg-primary),
    'bg-color': var(--color-bg-primary),
    'tr-bg-color': var(--color-bg-primary),
    'expanded-cell-bg-color': var(--color-bg-primary),
  ),
  $dialog: (
    'border-radius': 8px,
    'bg-color': var(--color-bg-primary),
  ),
  $drawer: (
    'bg-color': var(--color-bg-primary),
  ),
);

@use "element-plus/theme-chalk/src/index";

@mixin menu-left-border {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  width: 4px;
  height: 100%;
  z-index: 2;
  border-radius: 8px;
  background: linear-gradient(33deg, #9A66FF 0%, #3651EC 100%);
}

/* Root Colors */
:root {
  --el-border-radius-base: 8px;
  --el-color-primary: var(--color-primary);
  --el-text-color-regular: var(--color-text-primary);
  --el-text-color-primary: var(--color-text-primary);
  --el-text-color-secondary: var(--color-text-secondary);
  --el-disabled-text-color: var(--color-text-primary);
  --el-border-color-light: var(--color-border-normal);
  --el-color-success: #00B173;
  --el-color-danger: #E44242;
  --el-color-warning: #FB9237;
  --el-color-info: #7A7B80;
  --el-box-shadow-light: 0px 2px 4px 0px #686ba421;
  --el-border: 1px solid var(--color-border-primary);
  --el-fill-color-light: var(--color-bg-split);
}

/* Menu */
.el-menu {
  &:not(.el-menu--horizontal, .el-menu--popup) {
    $menu-item-height: 50px;
    .menu-item-title {
      $line-height: 20px;
      padding-left: 10px;
      margin-top: 0;
      margin-bottom: 0;
      white-space: normal;
      line-height: $line-height;
      padding-top: math.div($menu-item-height - $line-height, 2);
      padding-bottom: math.div($menu-item-height - $line-height, 2);
    }
    .el-sub-menu__title {
      padding: 0px 0px 0px 8px !important;
      margin: 0px 12px;
      border-radius: 0 8px 8px 0;
      border-left: 4px solid transparent;
      &:hover {
        &:before {
          @include menu-left-border;
        }
        color: var(--color-primary);
      }
    }
    .el-sub-menu {
      &.is-active.is-opened {
        .el-sub-menu__title {
          color: var(--color-title-primary);
        }
      }
      .el-menu-item {
        padding: 0px 0px 0px 31px !important;
      }
      .el-sub-menu__icon-arrow {
        top: 52%;
        right: 8px;
      }
    }
    .el-menu-item {
      border-left: 4px solid transparent;
      border-radius: 0 8px 8px 0;
      margin: 0 12px;
      padding: 0px 0px 0px 8px !important;
      min-width: initial;
      &.is-active {
        background-color: var(--color-hover);
        border-radius: 0 8px 8px 0;
        &:before {
          @include menu-left-border;
        }
      }
      &:hover {
        background-color: var(--color-hover);
        border-radius: 0 8px 8px 0;
        color: var(--color-primary);
        &:before {
          @include menu-left-border;
        }
      }
    }
  }
  &.el-menu--popup {
    min-width: initial;
    .el-menu-item {
      &.is-active {
        background-color: var(--color-hover);
      }
      &:hover {
        background-color: var(--color-hover);
        color: var(--color-primary);
      }
    }
  }
  &.el-menu--horizontal {
    .el-menu-item {
      height: 36px;
      margin: 12px 4px;
      padding: 0 16px;
      border-radius: 8px;
      border-bottom: none;
      &:hover {
        color: var(--color-primary);
      }
      &.is-active {
        background-color: var(--color-hover);
        border-bottom: none;
      }
    }
  }
  &.el-menu--collapse {
    >.el-sub-menu.is-active .el-sub-menu__title {
      background-color: var(--color-hover);
      &:before {
        @include menu-left-border;
      }
    }
  }
}
/* Table */
.el-table {
  border-radius: 8px;
  box-shadow: var(--el-box-shadow-light);
  &:after,
  &:before,
  .el-table__inner-wrapper:after,
  .el-table__inner-wrapper:before {
    content: "" !important;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    z-index: 3;
  }
  .el-table__inner-wrapper:after,
  .el-table__inner-wrapper:before {
    box-sizing: border-box;
    left: 0;
    width: 100%;
    height: 16px;
    border: 1px solid var(--color-border-normal);
  }
  /* Top */
  .el-table__inner-wrapper:after {
    top: 0;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
  }
  /* Bottom */
  .el-table__inner-wrapper:before {
    bottom: 0px;
    border-radius: 0 0 8px 8px;
    border-top: none;
  }
  &:after,
  &:before {
    top: 6px;
    width: 1px;
    height: calc(100% - 16px);
    background-color: var(--color-border-normal);
  }
  /* Right */
  &:after {
    right: 0;
  }
  /* Left */
  &:before {
    left: 0;
  }
}
.el-table {
  .el-table__expanded-cell {
    background-color: var(--color-bg-split);
  }
  &.shadow-none {
    box-shadow: none;
  }
  .el-badge__content {
    vertical-align: 1px;
    margin-right: 3px;
  }
  .el-table__cell {
    padding: 14px 0;
    > .cell {
      padding: 0 16px;
      word-break: break-word;
      text-overflow: clip;
    }
  }
  .el-table__row:last-child {
    th.el-table__cell.is-leaf, td.el-table__cell {
      border-bottom: none;
    }
  }
}
.el-table__inner-wrapper::before {
  height: 0px;
}
.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
  background: var(--color-bg-split);
}

/* Progress */
.el-progress-bar__outer {
  background-color: var(--color-bg-lighter);
}
.el-progress {
  display: block;
  .el-progress-bar__inner {
    background: linear-gradient(135deg, #5E4EFF 0%, #5E4EFF 100%);
  }
  .el-progress-bar {
    &__outer {
      border-radius: 2px;
    }
    &__inner {
      border-radius: 2px;
    }
  }
}

/* Tabs */
.el-tabs.el-tabs--top:not(.el-tabs--card) {
  & .is-top .el-tabs__nav-wrap::after {
    height: 1px;
  }
}
.el-tabs.el-tabs--left:not(.el-tabs--card) {
  & .is-left .el-tabs__nav-wrap::after {
    width: 1px;
  }
}
.el-tabs.el-tabs--top:not(.el-tabs--card) .el-tabs__item.is-top {
  padding-left: 0;
  padding-right: 0;
  &::before,
  &::after {
    content: '';
    display: inline-block;
    visibility: hidden;
  }
  &::before {
    width: 22px;
  }
  &::after {
    width: 22px;
  }
}

/* Tabs Card */
.el-tabs--card {
  &>.el-tabs__header {
    border-bottom: 1px solid var(--color-border-normal);
    margin-bottom: 0px;
    .el-tabs__nav {
      border: none;
    }
    .el-tabs__item.is-active {
      border-bottom: 1px solid var(--color-bg-primary);
    }
    .el-tabs__item,
    .is-focus {
      outline: none;
      border-left: none;
      border-top: 2px solid transparent;
      transition: border-top 0.3s, color 0.3s, padding 0.3s;
      &.is-active,
      .is-focus {
        outline: none;
        border-top: 2px solid var(--color-primary);
        border-left: 1px solid var(--color-border-normal);
        border-right: 1px solid var(--color-border-normal);
      }
    }
  }
  .el-tabs__content {
    overflow: visible;
  }
}

@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  
  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
              0 -1px 0 $weight rgba($mix-sub-from, .25),
              1px 0 0 $weight rgba($mix-sub-to, .25),
              -1px 0 0 $weight  rgba($mix-sub-from, .25),
              1px -1px 0 $weight rgba($mix-main, .5),
              -1px 1px 0 $weight rgba($mix-main, .5),
              1px 1px 0 $weight rgba($to, .75),
              -1px -1px 0 $weight rgba($from, .75);
}

/* Button */
.el-button {
  &.el-button--primary {
    background: linear-gradient(135deg, #8c4eff 0%, #3f36ec 100%);
    border: none;
    color: #fff;
    &.is-plain {
      background: var(--color-bg-primary);
      color: var(--color-primary);
      @include border-gradient(#ac6eff, #5f56fc);
    }
    &:hover {
      background: linear-gradient(135deg, #bc7eff 0%, #6f66ec 100%);
      color: #fff;
    }
    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        background: linear-gradient(135deg, #DC9Eff 0%, #8F86ff 100%);
        color: #fff;
      }
    }
  }
  &--small {
    min-height: 22px;
    padding: 4px 9px;
  }
  &+.el-dropdown {
    margin-left: 10px;
  }
}

/* Dropdown */
.el-dropdown-menu {
  background: var(--color-bg-primary);
}
.el-dropdown__popper.el-popper[role=tooltip] {
  background: var(--color-bg-primary);
}
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: var(--color-bg-split);
  color: var(--color-text-primary);
}
.el-dropdown-menu__item.active {
  background-color: var(--color-bg-split);
  color: var(--color-primary);
}
.el-dropdown-menu__item--divided {
  border-top: 1px solid var(--color-border-normal);
}

/* Input */
.el-input,
.el-textarea,
.el-input-number,
.el-select {
  transition: all 0.3s;
  width: 100%;
}

/* Input Number*/
.el-input-number .el-input__inner {
  text-align: left;
}
.el-input-number.is-disabled.is-controls-right {
  .el-input-number__increase {
    border-bottom: 1px solid var(--color-border-normal);
  }
  .el-input-number__decrease {
    // Fix for Safari
    top: 16px !important;
    border-left: 1px solid var(--color-border-normal);
  }
}

/* Select */
.el-select__popper.el-popper[role=tooltip] .el-popper__arrow::before {
  border: 1px solid var(--color-border-normal);
  background: var(--color-bg-primary);
}
.el-select__popper.el-popper[role=tooltip] {
  background: var(--color-bg-primary);
}
.el-select .el-select__tags .el-tag--info {
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-bg-split);
  color: var(--color-text-primary);
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  background-color: var(--color-bg-primary);
}

/* Date Edtior */
.el-date-editor {
  --el-date-editor-width: 100%;
}
.el-date-editor .el-range-input {
  background-color: transparent;
}
.el-picker-panel {
  background-color: var(--color-bg-primary);
}
.el-picker-panel__footer {
  background-color: var(--color-bg-primary);
}
.el-date-table td.in-range .el-date-table-cell:hover,
.el-date-table td.in-range .el-date-table-cell {
  background-color: var(--color-bg-split); 
}

.el-picker-panel .el-time-panel {
  background-color: var(--color-bg-primary);
}

/* Steps */
.el-steps {
  .el-step__head.is-process {
    color: var(--color-text-primary);
  }
  &.el-steps--horizontal {
    .el-step__title {
      color: inherit;
    }
    .el-step__line-inner {
      border-color: var(--color-border-normal);
    }
    .el-step__line {
      background-color: var(--color-border-normal);
    }
    .is-success {
      .el-step__icon {
        background-color: var(--color-primary);
        border: none;
         &::before {
        position: absolute;
        content: '';
        border-radius: 50%;
        left: -4px;
        width: 32px;
        height: 32px;
        background-color: #5e4eff33;
      }
      }
    }
  }
}
.el-step__icon {
  background-color: var(--color-border-primary);
  color: #fff;
}
.el-step__icon.is-text {
  border: none;
}

/* Popper */
.el-popper {
  &:not(.el-select__popper):not(.el-picker__popper):not(.is-wider) {
    max-width: 320px;
  }
  &.is-wider {
    max-width: 900px;
  }
}

.el-popper {
  --el-popper-border-radius: 8px;
}
.el-popper.is-dark {
  background: var(--color-bg-popper);
  color: var(--color-text-popper);
  .el-popper__arrow::before {
    background: var(--color-bg-popper);
  }
}
.el-popper.is-light {
  background-color: var(--color-bg-primary);
  .el-popper__arrow::before {
    background-color: var(--color-bg-primary);
    color: #fff;
  }
}

/* Popover */
.el-popover {
  max-width: 50%;
  max-height: 50%;
}

/* Tag */
.el-tag {
  font-weight: normal;
  border-radius: 8px;
  &.el-tag--danger {
    background-color: #FCECEC;
    border: 1px solid #E44242;
  }
  &.el-tag--info {
    border: 1px solid var(--color-border-primary);
    background-color: var(--color-bg-split);
    color: var(--color-text-primary);
  }
  &.el-tag--large {
    font-size: 14px;
    --el-icon-size: 14px;
  }
  .el-tag__content {
    display: flex;
    align-items: center;
  }
  &.el-tag--large {
    border-radius: 8px;
  }
}

/* Message */
.el-message {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px #00000026;
  .el-icon {
    font-size: 18px;
  }
  &--success {
    border: 1px solid #00B173;
    background-color: #E5F7F1;
  }
  &--error {
    border: 1px solid #EF173F;
    background-color: #FCECEC;
  }
  &--warning {
    border: 1px solid #F8971C;
    background-color: #FEF4EB;
  }
  &--info {
    border: 1px solid #7A7B80;
    background-color: #EFF2F5;
  }
}

/* Message Box */
.el-message-box {
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-normal);
}

/* Notification */
.el-notification {
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-normal);
}

/* Card */
.el-card {
  &:not(.with-border){
    border: none;
  }
  position: relative;
  &.top-border,
  &.top-primary {
    &:before {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: 100%;
      height: 4px;
      border-radius: 0px;
      background: linear-gradient(33deg, #29D6E6 0%, #5F6DFF 100%);
    }
  }
}

/* Loading */
.el-loading-parent--relative {
  border-width: 1px;
  &::before {
    height: 0;
  }
}
.el-loading-mask {
  z-index: 99;
  background-color: var(--color-bg-trans) !important;
}

/* Form */
.el-form {
  &--label-top {
    .el-form-item__label {
      padding: 0;
    }
  }
}
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before,
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label-wrap>.el-form-item__label:before {
  content: "";
  display: none;
  margin-right: 0;
}
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:after,
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label-wrap>.el-form-item__label:after {
  content: "*";
  color: var(--el-color-danger);
  margin-left: 4px;
}
.el-form-item__content>.el-row {
  width: 100%;
}
.el-form-item__label {
  height: auto;
}
.el-form--label-top .el-form-item .el-form-item__label {
  display: inline-block;
}

/* Radio */
.el-radio-button__inner {
  background: var(--color-bg-primary);
}
.el-radio-button__original-radio:checked + .el-radio-button__inner {
  background: var(--color-hover);
  color: var(--color-primary);
}
.el-radio.is-bordered.is-disabled {
  border-color: var(--color-border-normal);
}
.el-radio.is-bordered {
  .el-radio__input {
    display: none;
  }
}


/* Descripton */
.el-descriptions {
  .el-descriptions__title {
    color: var(--color-title-primary);
  }
  .el-descriptions__label {
    color: var(--color-text-secondary);
  }
  .el-descriptions__label.el-descriptions__cell.is-bordered-label {
    color: var(--color-title-primary);
    background-color: var(--color-bg-split);
  }
  .el-descriptions__body .el-descriptions__table:not(.is-bordered) .el-descriptions__cell {
    padding-bottom: 14px;
  }
  .el-descriptions__content.el-descriptions__cell.is-bordered-content {
    word-break: break-all;
    background-color: var(--color-bg-primary);
  }
  .el-descriptions__body .el-descriptions__table.is-bordered .el-descriptions__cell {
    border: 1px solid var(--color-border-normal);
  }
  .el-descriptions__label.el-descriptions__cell.is-bordered-label {
    min-width: 135px;
  }
}

/* Page Header */
.el-page-header__content {
  color: var(--color-title-primary);
  font-weight: 600;
  font-size: 18px;
}
.el-page-header__icon {
  font-size: 14px;
}
.el-page-header__left {
  &:hover {
    color: var(--color-primary);
  }
}

/* Pagination */
.el-pagination.is-background .btn-prev:disabled, .el-pagination.is-background .btn-next:disabled {
  color: #D0D4DC;
  background-color: var(--color-bg-primary);
}
.el-pagination.is-background .btn-prev, .el-pagination.is-background .btn-next, .el-pagination.is-background .el-pager li {
  border-radius: 8px;
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}
.el-pagination.is-background .el-pager li:not(.is-disabled).is-active {
  background-color: var(--color-bg-primary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

/* Uploader */
.el-upload-dragger {
  background-color: var(--color-bg-primary);
  border-color: var(--color-border-primary);
}

/* Tree */
.el-tree {
  background: var(--color-bg-primary);
}

/* collapse */
.el-collapse-item__header {
  background-color: var(--color-bg-primary);
}
.el-collapse-item__content {
  background-color: var(--color-bg-primary);
}
.el-collapse-item__wrap {
  border-bottom: 1px solid var(--color-border-primary);
}

/* Divider */
.el-divider--horizontal {
  border-top: 1px solid var(--color-border-menu);
}

/* Drawer */
.el-drawer__header {
  color: var(--color-title-primary);
}
