@use "sass:math";
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $menu: (
    // 'text-color': var(--el-text-color-secondary),
    // 'bg-color': #282e38ff,
    // 'hover-bg-color': #00b29915,
  ),
  $card: ('border-radius': 8px),
  $table: (
    // 'header-font-color': var(--el-text-color-regular),
  ),
  $input: (
    'border-color': var(--color-border-input),
    'placeholder-color': var(--color-text-secondary),
    'text-color': var(--color-text-primary),
  )
);
@use "element-plus/theme-chalk/src/index";

:root {
  --el-color-primary: var(--color-primary);
  --el-border-radius-base: 8px;
  --el-text-color-primary: var(--color-text-primary);
  --el-text-color-secondary: var(--color-text-secondary);
}

.el-menu {
  $menu-item-height: 50px;
  border-right: none;

  .iconx {
    flex-shrink: 0;
  }

  .el-menu-item.is-active,
  &.el-menu--collapse {
    .el-sub-menu.is-active {
      background-color: #00b29915;
      font-weight: 900;
    }
  }

  &.el-menu--collapse .menu-item-title.first-level {
    display: none;
  }

  .el-sub-menu {
    .el-menu-item {
      padding: 0 15px 0 45px;
    }
  }

  .menu-item-title {
    $line-height: 20px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal;
    line-height: $line-height;
    padding-top: math.div($menu-item-height - $line-height, 2);
    padding-bottom: math.div($menu-item-height - $line-height, 2);
  }

  &.el-menu--horizontal {
    background-color: var(--el-color-white);

    >.el-menu-item {
      height: 45px;
      color: #8c8c8cff;

      &.is-active {
        background-color: inherit;
      }

      &:hover {
        background-color: #00b2990b;
      }
    }
  }
}

.el-table {
  border: var(--el-table-border);
  border-bottom: none;

  .el-badge__content {
    vertical-align: 1px;
    margin-right: 3px;
  }

  .el-table__header {
    .sortable-without-header-text {
      .caret-wrapper {
        position: relative;
        left: -8px;
      }
    }
  }

}

.el-progress-bar {
  &__outer {
    border-radius: 1px;
  }

  &__inner {
    border-radius: 1px;
  }
}

.el-tabs--card {
  &>.el-tabs__header {
    border-bottom: 0px;
    margin-bottom: 0px;

    .el-tabs__nav {
      border: none;
    }

    .el-tabs__item,
    .is-focus {
      outline: none;
      border-left: none;
      border-bottom: 1px solid #f0f0f8;
      border-top: 2px solid #fff;
      transition: border-top 0.3s, color 0.3s, padding 0.3s;

      &.is-active,
      .is-focus {
        outline: none;
        border-top: 2px solid #00b299ff;
        border-left: 1px solid #f0f0f8;
        border-right: 1px solid #f0f0f8;
      }
    }
  }
}

/* Button */
.el-button {
  &.el-button--primary {
    transition: var(--el-transition-all);
    background: linear-gradient(135deg, #0AD18E 0%, #03A4A5 100%);
    border: none;
    color: #fff;
    &.is-plain {
      background-color: #fff;
      color: var(--color-text-primary);
    }
    &:hover {
      background: linear-gradient(135deg, #53DEB0 0%, #4EBFC0 100%);
      color: #fff;
    }
    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        background: linear-gradient(135deg, #CDF5E8 0%, #CCEDED 100%);
        color: #86DBC1;
      }
    }
  }
  &--small {
    min-height: 22px;
    padding: 4px 9px;
  }
  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: #86DBC1;
      background: linear-gradient(135deg, #CDF5E8 0%, #CCEDED 100%);
    }
  }
  &+.el-dropdown {
    margin-left: 10px;
  }
}

.el-dropdown {

  &-menu__item {
    &.active {
      background-color: #e3f7f4;
      color: #4d4d4dff;
    }

    &:not(.is-disabled):hover {
      background-color: #f1f3f7;
      color: #4d4d4dff;
    }
  }
}

.el-input,
.el-textarea,
.el-select {
  transition: all 0.3s;
  width: 100%;

}

.el-date-editor {
  --el-date-editor-width: 100%;
}

.el-tabs.el-tabs--top:not(.el-tabs--card) {
  .el-tabs__item {
    &.is-top {
      padding: 0 0 0 20px;
    }
  }

  & .is-top .el-tabs__nav-wrap::after {
    height: 1px;
  }
}

.el-tabs.el-tabs--left:not(.el-tabs--card) {
  & .is-left .el-tabs__nav-wrap::after {
    width: 1px;
  }
}

.el-steps {
  &.el-steps--horizontal {
    .el-step__title {
      color: inherit;
    }

    .el-step__line-inner {
      border-color: #e2edeb;
    }

    .el-step__line {
      background-color: #e2edeb;
    }

    .is-success {
      .el-step__icon {
        background-color: #00b299ff;
        color: #fff;
        border: none;
      }
    }
  }
}

.el-popper {
  --el-popper-border-radius: 2px;

  &.is-light {
    border: none
  }
}

.el-popover {
  max-width: 50%;
  max-height: 50%;
  overflow-y: auto;
}

.el-tag {
  border-radius: 0;
  font-weight: normal;

  &.el-tag--danger {
    background-color: #e34242ff;
    color: #fff;
    border: none;
  }

  &.el-tag--info {
    background-color: #eff3fe;
    color: #8d96a2ff;
    border: none;
  }
}

.el-message {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background: #fff;
  border: none;

  &--success {

    .el-message__content,
    .el-icon-success {
      color: var(--el-color-primary)
    }
  }
}

.el-card {
  --el-card-border-color: #ececefff;
}

.el-loading-parent--relative {
  border-width: 1px;

  &::before {
    height: 0;
  }

  .el-loading-mask {
    z-index: 99;
  }
}

.el-form {
  &--label-top {
    .el-form-item__label {
      padding: 0;
    }
  }
}

.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before,
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label-wrap>.el-form-item__label:before {
  content: "";
  display: none;
  margin-right: 0;
}

.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:after,
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label-wrap>.el-form-item__label:after {
  content: "*";
  color: var(--el-color-danger);
  margin-left: 4px;
}

.el-form-item__content>.el-row {
  width: 100%;
}
