.bridge-config {
  .block-desc {
    margin-bottom: 12px;
    font-size: 14px;
    color: var(--el-text-color-secondary);
    line-height: 20px;
  }
}

.rule-item-overview {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .el-card {
    margin-bottom: 24px;
  }
  .card-hd {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    .el-icon {
      cursor: pointer;
      font-size: 18px;
      padding-top: 2px;
    }
  }
  .block-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #1d1d1d;
  }
  .card-sub-desc {
    margin-bottom: 16px;
    font-size: 14px;
    color: var(--el-text-color-secondary);
    line-height: 20px;
  }
  .rule-statistic {
    padding: 8px 0 0;
    .el-col {
      padding-bottom: 20px;
    }
  }
  .statistic-label {
    margin-bottom: 20px;
  }
  .statistic-num {
    line-height: 25px;
    font-size: 24px;
    font-weight: 600;
    .unit {
      font-size: 16px;
      margin-left: 4px;
    }
  }
  .text-status {
    margin-right: 8px;
  }
}

.iot-form {
  .part-header {
    margin-bottom: 12px;
  }
  .sub-block-desc {
    margin-bottom: 12px;
    color: var(--el-text-color-secondary);
    font-size: 12px;
  }
  .label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
