.bridge-config {
  .payload-desc {
    margin-top: 4px;
    margin-bottom: 0;
    color: var(--el-text-color-secondary);
  }

  .TLS-base-config {
    .el-form-item {
      margin-bottom: 0;
    }
    .TLS-base-config-title {
      font-size: 14px;
      font-weight: normal;
    }
  }
  .TLS-enable-config {
    .TLS-input {
      width: 100%;
    }
  }

  .one-of {
    display: flex;
    width: 100%;

    .switch-container {
      flex-shrink: 0;
      margin-right: 12px;
    }

    .oneof-item {
      flex-grow: 1;
      margin-top: 0;
    }
  }
}

.bridge-detail {
  .detail-header img {
    height: 40px;
  }
  .info-tags {
    .el-tag,
    .node-status {
      margin-right: 8px;
    }
  }
  .el-alert {
    width: 75%;
    margin-bottom: 12px;
  }
}

.el-alert.webhook-tip-alert {
  margin-bottom: 12px;
  .el-icon {
    font-size: 16px;
  }
  .el-alert__content {
    padding-left: 0;
  }
  p {
    margin: 8px 0;
  }
}

/* Type Select */
.target-type-select {
  width: 100%;
  margin-bottom: 24px;

  .el-row {
    width: 100%;
  }

  .el-col {
    margin-bottom: 16px;
  }

  .el-radio__label {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 52px;
    min-height: 52px;

    .title {
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 14px;
      color: var(--color-title-primary);
    }

    .target-type-desc {
      color: var(--color-title-primary);
      font-size: 12px;
      white-space: normal;
    }
  }

  .target-type-item {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-width: 40%;
    margin-top: 16px;
    padding: 0 12px 0 2px;
    border: 2px solid var(--color-border-primary);
  }

  .target-type-item-img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .target-type-item-bd {
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.rule-form {
  .part-header {
    margin-bottom: 12px;
  }
  .sub-block-desc {
    margin-bottom: 12px;
    color: var(--el-text-color-secondary);
    font-size: 14px;
  }
  .label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// rule inputs and rule outputs
.rule-io {
  .io-item {
    height: 64px;
    border: 1px solid var(--color-border-primary);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: var(--el-border-radius-base);
    padding: 0 6px;
    margin-bottom: 12px;
    $img-width: 48px;
    $img-margin-right: 12px;
    $op-width: 136px;
    img {
      width: $img-width;
      flex-shrink: 0;
      margin-right: $img-margin-right;
    }
    .io-item-bd {
      flex-grow: 1;
      max-width: calc(100% - $img-width - $img-margin-right - 12px);
      div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.6;
      }
      .io-desc {
        color: var(--color-text-secondary);
      }
    }
    .io-op {
      display: none;
      flex-basis: $op-width;
      flex-shrink: 0;
      padding: 0 10px;
      text-align: right;
    }
    &:hover {
      border-color: var(--el-color-primary);
      cursor: pointer;
      .io-op {
        display: block;
        color: var(--el-color-primary);
      }
      .io-item-bd {
        max-width: calc(100% - $img-width - $img-margin-right - $op-width);
      }
    }
  }
  .btn-add {
    margin-top: 24px;
    :deep(span) {
      display: flex;
      align-items: center;
    }
    .el-icon {
      font-size: 16px;
    }
  }
}

.delete-second-confirm {
  .el-dialog__header {
    display: none;
  }
  .el-dialog__body {
    padding-top: 28px;
    padding-bottom: 0px;
  }
  .el-dialog__footer {
    padding-bottom: 12px;
  }
  ul {
    list-style: none;
    padding-left: 36px;
    margin-bottom: 0;
  }
  li {
    margin-right: 4px;
  }
  .data-item {
    display: inline-block;
    padding: 4px 0;
  }
}
