@use './mixins.scss';

.schema-form {
  &.is-loading {
    min-height: 400px;
    .el-skeleton {
      width: 75%;
    }
    .el-form,
    .el-tabs {
      display: none;
    }
  }
  .el-tabs.group-tabs {
    margin: 0px 12px 24px;
  }
  .el-form-item__label {
    color: var(--el-text-color-primary);
    line-height: 30px;
    font-size: 16px;
    text-align: right;
  }
  .el-form-item__content {
    line-height: 32px;
  }
  .item-desc {
    margin: 0 0 6px 0;
    color: var(--color-text-secondary);
    &.markdown-content {
      .el-col-24 {
        padding: 0;
      }
    }
    p {
      margin: 0 0 6px 0;
    }
  }
  .el-form-item__label {
    padding-right: 20px;
  }
  .app-card.properties-card {
    .el-col-24 {
      padding-bottom: 12px;
    }
    .el-card__body {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .el-row {
    .el-col:first-child {
      .el-divider {
        display: none;
      }
    }
  }
  .el-col-21 {
    .el-form-item {
      padding: 0 8px 0 8px;
    }
  }
  .is-hidden {
    display: none;
  }
  .btn-col {
    position: sticky;
    background: var(--color-bg-content);
    // for count, do not change
    bottom: -1px;
    z-index: 5;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-right: -16px - 1px;
    margin-left: -16px - 1px;
    @include mixins.mock-ft-card;
    &.el-card.ft-card {
      margin-bottom: 0;
    }
    &.is-pinned {
      padding-top: 0;
      &::before {
        display: none;
      }
    }
  }
  .schema-col-setting {
    position: absolute;
    left: -6px;
    top: 12px;
    .setting-btn {
      visibility: hidden;
      font-size: 16px;
      color: var(--el-text-color-primary);
      &:hover,
      &:focus {
        visibility: visible;
      }
    }
  }
  .item-desc {
    width: 100%;
  }
  .common-tls-config,
  .TLS-enable-config {
    flex-grow: 1;
    .TLS-input {
      width: 100%;
    }
  }
  .el-form-item {
    .common-tls-config {
      margin-bottom: -24px;
    }
  }
  .textarea-with-uploader {
    width: 100%;
  }
  .configuration-form {
    $base-number-input-width: 160px + 120px;
    $base-input-width: 280px + 120px;
    // src/style/common.scss:309:16
    $input-append-width: 120px;
    .el-form-item__content,
    .oneof-item {
      > .el-select,
      > .el-input-number {
        width: $base-number-input-width;
      }
      > .el-input,
      > .el-textarea {
        width: $base-input-width;
      }
      > .textarea-with-uploader,
      > .config-item-data-look {
        width: $base-input-width * 1.5;
      }
      > .input-with-unit {
        width: $base-number-input-width + $input-append-width;
      }
    }
    .el-table {
      width: 70%;
    }
  }
}
.info-tooltip.height-fixed {
  padding-right: 0;
  .el-scrollbar__view {
    padding-right: 12px;
  }
}
.read-only-tooltip.el-popper {
  width: 210px;
  line-height: 1.5;
}

.schema-form-integration {
  min-height: 320px;

  .col-need-row {
    // To squeeze the next column down
    margin-right: 40%;
  }

  .col-hidden {
    display: none !important;
  }

  .custom-col-24 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  // hide first label
  .col-ssl {
    > .el-form-item {
      > .el-form-item__label {
        display: none;
      }
    }
  }

  .el-form-item {
    margin-top: 0;
  }

  .el-col-12.dividing-line-below,
  .el-col-24.dividing-line-below {
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: var(--color-border-card);
    }
  }

  .el-col-12:not(.custom-col-24).dividing-line-below {
    &::after {
      width: calc(200% + 24px);
      margin-top: 24px;
      margin-bottom: 20px;
    }
  }

  .el-col-24.dividing-line-below,
  .custom-col-24.dividing-line-below {
    &::after {
      width: 100%;
      margin-top: 6px;
      margin-bottom: 24px;
    }
  }

  .custom-col-24.dividing-line-above,
  .el-col-24.dividing-line-above {
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      margin-top: 6px;
      margin-bottom: 24px;
      height: 1px;
      background-color: var(--color-border-card);
    }
  }

  .schema-form .el-form-item__label {
    font-size: var(--el-form-label-font-size);
    color: var(--el-text-color-regular);
  }
  .monaco-container + .batch-settings {
    margin: 6px 0 0;
  }
}
