.schema-form {
  padding-bottom: 48px;
  .groups-radio {
    margin: 12px 28px 16px;
  }
  .el-form-item__label {
    color: var(--el-text-color-primary);
    line-height: 30px;
    font-size: 16px;
  }
  .el-form-item__content {
    line-height: 32px;
  }
  .item-desc {
    margin: 0 0 6px 0;
    color: var(--color-text-secondary);
  }
  .el-form-item {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  [class*='el-col-'] {
    padding: 0px 24px;
    position: relative;
  }
  .app-card.properties-card {
    .el-col-24 {
      padding-bottom: 12px;
    }
    .el-card__body {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .el-col-16 {
    .el-form-item {
      transition: all 0.2s ease;
      border-left: 4px solid transparent;
      padding: 8px 12px 12px;
    }
  }
  .custom-col {
    .el-form-item:hover {
      background: var(--color-bg-split);
      border-left: 4px solid var(--el-color-primary);
    }
  }
  .el-col-16:not(.custom-col) {
    &:hover {
      .schema-col-setting {
        .setting-btn {
          visibility: visible;
        }
      }
      .app-card.properties-card .el-col-24 {
        .schema-col-setting {
          .setting-btn {
            visibility: hidden;
          }
        }
        .el-form-item {
          background: transparent;
          border-left: 4px solid transparent;
        }
        &:hover {
          .schema-col-setting {
            .setting-btn {
              visibility: visible;
            }
          }
          .el-form-item {
            background: var(--color-bg-split);
            border-left: 4px solid var(--el-color-primary);
          }
        }
      }
      .el-form-item {
        background: var(--color-bg-split);
        border-left: 4px solid var(--el-color-primary);
      }
    }
  }
  .btn-col {
    position: fixed;
    background: var(--color-bg-primary);
    bottom: 0;
    right: 24px;
    border-top: 1px solid var(--color-border-normal);
    height: 64px;
    z-index: 2;
    box-shadow: var(--el-box-shadow-light);
    display: flex;
    align-items: center;
    padding-left: 48px;
  }
  .group-title {
    font-size: 18px;
    font-weight: bold;
    margin: 24px 14px 12px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-border-normal);
  }
  .schema-col-setting {
    position: absolute;
    left: 4px;
    top: 12px;
    .setting-btn {
      visibility: hidden;
      font-size: 16px;
      color: var(--el-text-color-primary);
      &:hover,
      &:focus {
        visibility: visible;
      }
    }
  }
  .item-desc {
    width: 100%;
  }
}
.read-only-tooltip.el-popper {
  width: 210px;
  line-height: 1.5;
}
