.schema-form {
  .el-form-item__label {
    color: var(--el-text-color-primary);
    line-height: 30px;
    font-size: 16px;
  }
  .item-desc {
    margin: 0 0 6px 0;
    color: var(--el-text-color-regular);
  }
  .el-form-item {
    margin-top: 6px;
  }
  [class*=el-col-] {
    padding: 0px 16px;
  }
  .el-col-16 {
    transition: all .2s ease;
    border-left: 4px solid transparent;
    &:hover {
      background: #FAFAFA;
      border-left: 4px solid var(--el-color-primary);
    }
  }
  .group-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
