@font-face {
  font-family: "iconfont"; /* Project id 3538061 */
  src: url('iconfont.woff2?t=1673331377261') format('woff2'),
       url('iconfont.woff?t=1673331377261') format('woff'),
       url('iconfont.ttf?t=1673331377261') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\e6bd";
}

.icon-retained-light-selected:before {
  content: "\e7a3";
}

.icon-retained-light:before {
  content: "\e7a4";
}

.icon-retained-dark-selected:before {
  content: "\e7a5";
}

.icon-retained-dark:before {
  content: "\e7a6";
}

.icon-linkedin:before {
  content: "\e611";
}

.icon-twitter:before {
  content: "\e736";
}

.icon-youtube:before {
  content: "\e8e2";
}

.icon-discord:before {
  content: "\ebf8";
}

.icon-github:before {
  content: "\ec01";
}

.icon-configuration-dark-selected:before {
  content: "\e785";
}

.icon-subscriptions-dark-selected:before {
  content: "\e787";
}

.icon-monitoring-dark-selected:before {
  content: "\e789";
}

.icon-diagnosis-dark-selected:before {
  content: "\e792";
}

.icon-authentication-dark-selected:before {
  content: "\e799";
}

.icon-integration-dark-selected:before {
  content: "\e79b";
}

.icon-connections-dark-selected:before {
  content: "\e79e";
}

.icon-extensions-dark-selected:before {
  content: "\e7a1";
}

.icon-system-dark-selected:before {
  content: "\e7a2";
}

.icon-language:before {
  content: "\e6c7";
}

.icon-fold:before {
  content: "\e74f";
}

.icon-system-light-selected:before {
  content: "\e79f";
}

.icon-authentication-dark:before {
  content: "\e77c";
}

.icon-authentication-light-selected:before {
  content: "\e77d";
}

.icon-authentication-light:before {
  content: "\e77f";
}

.icon-configuration-light:before {
  content: "\e781";
}

.icon-configuration-dark:before {
  content: "\e782";
}

.icon-configuration-light-selected:before {
  content: "\e783";
}

.icon-connections-light-selected:before {
  content: "\e784";
}

.icon-connections-dark:before {
  content: "\e786";
}

.icon-connections-light:before {
  content: "\e788";
}

.icon-extensions-light-selected:before {
  content: "\e78a";
}

.icon-extensions-dark:before {
  content: "\e78b";
}

.icon-diagnosis-light-selected:before {
  content: "\e78c";
}

.icon-diagnosis-light:before {
  content: "\e78d";
}

.icon-diagnosis-dark:before {
  content: "\e78e";
}

.icon-monitoring-dark:before {
  content: "\e78f";
}

.icon-subscriptions-dark:before {
  content: "\e790";
}

.icon-subscriptions-light-selected:before {
  content: "\e791";
}

.icon-system-dark:before {
  content: "\e793";
}

.icon-subscriptions-light:before {
  content: "\e794";
}

.icon-monitoring-light:before {
  content: "\e795";
}

.icon-monitoring-light-selected:before {
  content: "\e796";
}

.icon-integration-dark:before {
  content: "\e797";
}

.icon-integration-light-selected:before {
  content: "\e798";
}

.icon-integration-light:before {
  content: "\e79a";
}

.icon-extensions-light:before {
  content: "\e79c";
}

.icon-system-light:before {
  content: "\e79d";
}

.icon-test:before {
  content: "\e7a0";
}

