name: Tag

on:
  push:
    tags:
      - 'v1.*'
      - 'e1.*'
      - 'e2.*'

jobs:
  set_version:
    runs-on: ubuntu-latest
    outputs:
      emqx-name: ${{ steps.set-output.outputs.emqx-name }}
    steps:
    - name: check branch and set output
      id: set-output
      run: |
        if [[ "${{ github.base_ref }}" == enterprise ]]; then
          echo "emqx-name=emqx-enterprise" >> "$GITHUB_OUTPUT"
        elif [[ "${{ github.base_ref }}" == *enterprise* ]]; then
          echo "emqx-name=emqx-enterprise" >> "$GITHUB_OUTPUT"
        else
          echo "emqx-name=emqx" >> "$GITHUB_OUTPUT"
        fi

  build_emqx_for_test:
    needs:
      - set_version
    uses: ./.github/workflows/build_emqx_for_test.yaml
    with:
      emqx-name: ${{ needs.set_version.outputs.emqx-name }}

  check_package_version:
    needs:
      - set_version
      - build_emqx_for_test
    uses: ./.github/workflows/check_package_version.yaml
    with:
      emqx-name: ${{ needs.set_version.outputs.emqx-name }}

  build_ce_dashboard_package:
    needs:
      - check_package_version
    if: startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/build_oss_package.yaml

  build_ee_dashboard_package:
    needs:
      - check_package_version
    if: (github.ref == 'refs/heads/enterprise') || startsWith(github.ref, 'refs/tags/e')
    uses: ./.github/workflows/build_enterprise_package.yaml

  bump_ce_dashboard_version:
    needs:
      - set_version
      - check_package_version
      - build_ce_dashboard_package
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Create PR in emqx/emqx
        env:
          GH_TOKEN: ${{ secrets.CI_GITHUB_TOKEN_EMQX_RW }}
          EMQX_NAME: emqx
          VERSION: ${{ github.ref_name }}
        run: |
          gh --repo emqx/emqx workflow run bump-dashboard-version.yaml \
            -f emqx-name=${EMQX_NAME} \
            -f version=${VERSION}

  bump_ee_dashboard_version:
    needs:
      - set_version
      - check_package_version
      - build_ee_dashboard_package
    if: (github.ref == 'refs/heads/enterprise') || startsWith(github.ref, 'refs/tags/e')
    runs-on: ubuntu-latest
    steps:
      - name: Create PR in emqx/emqx
        env:
          GH_TOKEN: ${{ secrets.CI_GITHUB_TOKEN_EMQX_RW }}
          EMQX_NAME: emqx-enterprise
          VERSION: ${{ github.ref_name }}
        run: |
          gh --repo emqx/emqx workflow run bump-dashboard-version.yaml \
            -f emqx-name=${EMQX_NAME} \
            -f version=${VERSION}
