.auth-table {
  .status {
    color: #00b299;
    &.disabled {
      color: #e34242;
    }
  }
  &.el-table .cell {
    display: flex;
    align-items: center;
  }
  .auth-img {
    width: 48px;
    height: 48px;
    min-width: 48px;
    flex-basis: 48px;
  }
}
