.auth {
  .create-form-title {
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--color-title-primary);
    font-weight: 600;
  }
  .item-description {
    color: var(--color-text-secondary);
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .create-form {
    width: 70%;
    margin-bottom: 24px;
    .el-radio.is-bordered {
      text-align: center;
      &.mechanism {
        width: 220px;
      }
      &.backend {
        width: 160px;
      }
    }
    .select-database {
      margin-bottom: 32px;
    }
  }
  .step-btn {
    margin-top: 32px;
  }
  .result-block {
    .result-title {
      font-size: 16px;
      color: #fff;
      padding: 24px;
    }
    &.error {
      background: #e34242;
    }
    &.success {
      background: #00b299;
    }
  }
  .el-checkbox {
    &.is-bordered + &.is-bordered {
      margin-left: 0px;
    }
    &.is-bordered {
      text-align: center;
      line-height: 40px;
      padding: 0 30px;
      margin-top: 16px;
      margin-bottom: 22px;
    }
  }
  &.auth-details {
    .section-header {
      margin-top: 0;
    }
    .section-header__block {
      display: flex;
      align-items: center;
      min-height: 64px;
      .img-wrap {
          line-height: 0;
        }
      & > div {
        margin-right: 20px;
      }
    }
    .section-header__title {
      margin-bottom: 8px;
    }
  }
  .info-tags {
    :not(:last-child) {
      margin-right: 12px;
    }
  }
  .el-badge__content.is-fixed {
    top: 15px;
    right: 52px;
  }

  .el-radio.is-bordered {
    padding: 0px;
    border: 2px solid var(--color-border-primary);
    margin-top: 16px;
    .el-radio__label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0px;
      height: 100%;
    }
    &.is-checked {
      border-color: var(--color-primary);
    }
  }
  // Gateway Authn page
  .embed-gateway {
    position: absolute;
    left: -20px;
    z-index: 1;
  }

  .detail-tabs {
    min-height: 400px;
  }
}
