.auth {
  .create-form-title {
    font-size: 16px;
    color: #1d1d1d;
    font-weight: 600;
  }
  .item-description {
    color: #5b5b5b;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 32px;
  }
  .create-form {
    width: 70%;
    .el-radio.is-bordered {
      text-align: center;
      &.mechanism {
        width: 220px;
      }
      &.backend {
        width: 160px;
      }
    }
    .select-database {
      margin-bottom: 32px;
    }
  }
  .step-btn {
    margin-top: 32px;
  }
  .result-block {
    .result-title {
      font-size: 16px;
      color: #fff;
      padding: 24px;
    }
    &.error {
      background: #e34242;
    }
    &.success {
      background: #00b299;
    }
  }
  .el-checkbox {
    &.is-bordered + &.is-bordered {
      margin-left: 0px;
    }
    &.is-bordered {
      text-align: center;
      line-height: 40px;
      padding: 0 30px;
      margin-top: 16px;
      margin-bottom: 22px;
    }
  }
  &.auth-details {
    .section-header {
      margin-top: 0;
    }
    .section-header__block {
      display: flex;
      align-items: center;
      & > div {
        margin-right: 20px;
      }
    }
    .section-header__title {
      margin-bottom: 8px;
    }
    .el-tabs {
      .el-tabs__header {
        margin-bottom: 24px;
      }
      // Temporary fix for a style issue when there is only one tab
      .el-tabs__item:last-child {
        width: 0px;
        height: 0px;
      }
    }
  }
  .info-tags {
    :not(:last-child) {
      margin-right: 12px;
    }
  }
  .el-badge__content.is-fixed {
    top: 15px;
    right: 52px;
  }

  .el-radio.is-bordered {
    padding: 0px;
    border: 2px solid #e4e4e4;
    margin-top: 16px;
    .el-radio__input {
      display: none;
    }
    .el-radio__label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0px;
      height: 100%;
    }
    &.is-checked {
      border-color: #00b299ff;
    }
  }
  // Gateway Authn page
  .embed-gateway {
    position: absolute;
    left: -20px;
    z-index: 1;
  }
}
